
/*
 * Tabs
 */
ul.agdp-tabs-nav {
	border-bottom: 1px solid #aaa;
	padding: 9px 15px 0 10px;
	margin: 0;
}

ul.agdp-tabs-nav + ul {
	margin-top: 0;
}

ul.agdp-tabs-nav li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0 4px -1px;
	background-color: #e4e4e4;
}
body.colors-dark ul.agdp-tabs-nav li {
	background-color: #1b1b1b;
}

ul.agdp-tabs-nav li:hover {
	background-color: #fff;
}
body.colors-dark ul.agdp-tabs-nav li:hover {
	background-color: #000;
}

ul.agdp-tabs-nav li.ui-tabs-active,
ul.agdp-tabs-nav li.ui-tabs-active:hover {
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}
body.colors-dark ul.agdp-tabs-nav li.ui-tabs-active,
body.colors-dark ul.agdp-tabs-nav li.ui-tabs-active:hover {
	background-color: #444;
}

ul.agdp-tabs-nav li a {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	text-decoration: none;
}
body.colors-dark ul.agdp-tabs-nav li a {
	color: #ccc;
}

ul.agdp-tabs-nav li.ui-tabs-active a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}
body.colors-dark ul.agdp-tabs-nav li.ui-tabs-active a {
	color: #fff;
}

ul.agdp-tabs-nav li a:hover {
	color: #000;
}
body.colors-dark ul.agdp-tabs-nav li a:hover {
	background-color: #000;
}

div.agdp-tabs .agdp-panel > div.config-error {
	margin-bottom: 1.4em;
}

ul.agdp-tabs-nav li.ui-tabs-active a .icon-in-circle {
	display: none;
}

.wpcf7-form div.agdp-tabs .agdp-panel h2 {
	display: none;
}

div.agdp-tabs .agdp-panel h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin: 8px 0;
	padding: 0;
}

div.agdp-tabs .agdp-panel {
	background-color: #f5f5f5;
	border: 1px solid #aaa;
	border-top: none;
	padding: 16px;
}
body.colors-dark div.agdp-tabs .agdp-panel {
	background-color: #333;
}

div.agdp-tabs .form-table th {
	width: 100px;
}

div.agdp-tabs .agdp-panel fieldset legend {
	line-height: 1.5;
	margin: .6em 0 .4em;
}

/**
 * https://agenda-partage.fr/documentation/
 */
/* .wp-block-page-list li {
  list-style: none;
} */
.wp-block-page-list.toggle li > .toggle-trigger {
	cursor:pointer;
}
.parent-page {
	margin-bottom: 1em;
	display: block;
	/* position: relative;
	top: -3em; */
}
.parent-page .dashicons-before, .parent-page a {
	color: #0489B7;
}

/* agdpreport */
.agdpreport {
	overflow-x: scroll;
	width: 100%;
}
.agdpreport table {
	margin: 4px;
	border-collapse: collapse;
	border: 1px solid black;
}
.agdpreport th, .agdpreport td {
	border: 1px solid black;
	padding: 4px;
}
body.colors-dark .agdpreport table, body.colors-dark .agdpreport th, body.colors-dark .agdpreport td {
	border-color: white;
}
.agdpreport th {
	background-color: lightgray;
}
body.colors-dark .agdpreport th {
	background-color: darkgray;
}
.agdpreport tr {
	border-width: 2px;
	border-bottom-color: inherit;
}