
.edwpimg {
	background-image: url(/wp-content/plugins/agenda-partage/includes/css/edwpimg.png);
	background-repeat: no-repeat;
    padding-left: 19px;
}

.edwp-Var.edwpimg, .edwp-Var .edwpimg
, .edwp-App.edwp-App, .edwp-App .edwpimg { background-position: -0px 1px; }
.edwp-Type.edwpimg, .edwp-Type .edwpimg { background-position: -0px -21px; }
.edwp-LibVar.edwpimg, .edwp-LibVar .edwpimg
, .edwp-VarName.edwpimg, .edwp-VarName .edwpimg { background-position: -0px -43px; }
.edwp-Name.edwpimg, .edwp-Name .edwpimg { background-position: -0px -65px; }
.edwp-Add.edwpimg, .edwp-Add .edwpimg { background-position: -0px -87px; }
.edwp-ReadOnly.edwpimg, .edwp-ReadOnly .edwpimg { background-position: -0px -109px; }
.edwp-Script.edwpimg, .edwp-Script .edwpimg { background-position: -0px -131px; }
.edwp-DataTable.edwpimg, .edwp-DataTable .edwpimg { background-position: -0px -153px; }
.edwp-Plus.edwpimg, .edwp-Plus .edwpimg { background-position: -22px 1px; }
.edwp-Visual.edwpimg, .edwp-Visual .edwpimg { background-position: -22px -21px; }
.edwp-Code.edwpimg, .edwp-Code .edwpimg { background-position: -22px -43px; }
.edwp-EDV.edwpimg, .edwp-EDV .edwpimg { background-position: -22px -65px; }
.edwp-Button.edwpimg, .edwp-Button .edwpimg { background-position: -22px -87px; }
.edwp-VisualTrue.edwpimg, .edwp-VisualTrue .edwpimg { background-position: -22px -109px; }
.edwp-Web.edwpimg, .edwp-Web .edwpimg { background-position: -22px -131px; }
.edwp-Print.edwpimg, .edwp-Print .edwpimg { background-position: -22px -153px; }
.edwp-Component.edwpimg, .edwp-Component .edwpimg { background-position: -44px 1px; }
.edwp-File.edwpimg, .edwp-File .edwpimg { background-position: -44px -21px; }
.edwp-Password.edwpimg, .edwp-Password .edwpimg { background-position: -44px -43px; }
.edwp-Object.edwpimg, .edwp-Object .edwpimg { background-position: -44px -65px; }
.edwp-Array.edwpimg, .edwp-Array .edwpimg { background-position: -44px -87px; }
.edwp-DateTime.edwpimg, .edwp-DateTime .edwpimg { background-position: -44px -109px; }
.edwp-Image.edwpimg, .edwp-Image .edwpimg { background-position: -44px -131px; }
.edwp-DomSys.edwpimg, .edwp-DomSys .edwpimg { background-position: -44px -153px; }
.edwp-Dom.edwpimg, .edwp-Dom .edwpimg
, .edwp-Domain.edwpimg, .edwp-Domain .edwpimg { background-position: -66px 1px; }
.edwp-Select.edwpimg, .edwp-Select .edwpimg { background-position: -66px -21px; }
.edwp-Link.edwpimg, .edwp-Link .edwpimg { background-position: -66px -43px; }
.edwp-Button.edwpimg, .edwp-Button .edwpimg { background-position: -66px -65px; }
.edwp-False.edwpimg, .edwp-False .edwpimg
, .edwp-Bool.edwpimg, .edwp-Bool .edwpimg { background-position: -66px -87px; }
.edwp-True.edwpimg, .edwp-True .edwpimg { background-position: -66px -109px; }
.edwp-Function.edwpimg, .edwp-Function .edwpimg { background-position: -66px -131px; }
.edwp-Null.edwpimg, .edwp-Null .edwpimg { background-position: -66px -153px; }
.edwp-Num.edwpimg, .edwp-Num .edwpimg { background-position: -88px 1px; }
.edwp-String.edwpimg, .edwp-String .edwpimg
, .edwp-Text.edwpimg, .edwp-Text .edwpimg { background-position: -88px -21px; }
.edwp-Color.edwpimg, .edwp-Color .edwpimg { background-position: -88px -43px; }
.edwp-Client.edwpimg, .edwp-Client .edwpimg { background-position: -88px -65px; }
.edwp-User.edwpimg, .edwp-User .edwpimg { background-position: -88px -87px; }
.edwp-Minus.edwpimg, .edwp-Minus .edwpimg { background-position: -88px -109px; }
