/**
 * Feuille de styles pour Agdp mode Admin, edit Report
 */
 
#agdp_report-variables .cursor_pointer {
	cursor: wait;
}
#agdp_report-variables label[for="sql_variables"] {
	font-weight: bold;
	text-decoration: underline;
}
#agdp_report-variables .sql_variable > label:first-child {
	min-width: 12em;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	font-family: "Courier New", monospace;
}
#agdp_report-variables .sql_variable > label:not(:first-child) {
	margin-right: 9px;
}
#agdp_report-variables .sql_variable {
	margin-bottom: 0.6em;
}
#agdp_report-variables .sql_variable .var_edit {
	margin-right: 0.6em;
	opacity: 50%;
}
#agdp_report-variables .sql_variable .var_edit:hover {
	opacity: inherit;
}
#agdp_report-variables .sql_variable input[type="number"] {
	width: 5em;
}

#agdp_report-variables .var_editor {
	border: gray 1px solid;
	margin: 0.5em;
	padding: 0.5em;
	display: inline-block;
}
#agdp_report-variables .var_editor_header {
	font-weight: bold;
	background-color: gray;
	padding-left: 1em;
	margin-bottom: 0.5em;
}
#agdp_report-variables .var_editor_header .close-box {
	float: right;
}
#agdp_report-variables .var_editor label {
	min-width: 4em;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
#agdp_report-variables .var_editor .learn-more {
	font-family: "Courier New", monospace;
	padding-left: 5em;
	font-size: smaller;
}
#agdp_report-variables textarea {
  resize: both;
}
#agdp_report-inputs .sql-helper-variables {
	padding-top: 0px;
}
#agdp_report-inputs .sql-helper-variables > ul {
	margin-top: 0px;
}
#agdp_report-inputs .sql-helper-tables {
	margin-top: 0px;
	padding-top: 0px;
	font-family: "Courier New", monospace;
}
#agdp_report-inputs .sql-helper-tables li {
	display: inline-block;
	padding-right: 1em;
	vertical-align: top;
}
#agdp_report-inputs .sql-helper-tables a {
	text-decoration: none;
}
#agdp_report-inputs .sql-helper-tables li .toggle-trigger > span {
	display: inline-block;
	min-width: 2em;
}
#agdp_report-inputs .sql-helper-tables li .toggle-trigger {
	display: inline-block;
	min-width: 2em;
	opacity: 50%;
}
#agdp_report-inputs .sql-helper-tables li .toggle-trigger:hover {
	opacity: inherit;
}
#agdp_report-inputs .sql-helper-tables li .toggle-trigger.active + .toggle-container {
	background-color: lightgray;
}

/** render **/
#agdp_report-render .report_refresh, #agdp_report-render .report_show_sql {
	float: right;
	top: -3em;
	position: relative;
	height: 0px;
}
#agdp_report-render .report_show_sql select {
	min-width: inherit;
	margin-right: 1em;
}

#agdp_report-render .sql_prepared, .agdpreport.error .sql_prepared {
	white-space: pre;
	font-family: "Courier New", monospace;
	background-color: lightgray;
	padding: 1em;
}

#agdp_report-render .agdpreport td {
	max-height: 8em;
}
#agdp_report-render .agdp-metabox-row.report_css textarea#report_css.toggle-container {
  display: inline-block;
}
#agdp_report-render .agdp-metabox-row.report_css .report_style_terms {
	float: right;
}
#agdp_report-render .agdp-metabox-row.report_css .report_style_terms > div a {
	opacity: 50%;
}
#agdp_report-render .agdp-metabox-row.report_css .report_style_terms > div:hover a {
	opacity: inherit;
}
#agdp_report-render .agdp-metabox-row.report_css .report_style_terms label {
	cursor: pointer;
}
#agdp_report-render .report_refresh > a {
  padding-top: 7px;
  padding-right: 3px;
  display: inline-block;
  height: 26px;
  position: relative;
  top: -10px;
}