/**
 * Feuille de styles pour Agdp mode Admin
 */

h3.alert {
	border-left: 3px solid orange;
	color: darkorange;
	padding-left: 1em;
}
h3.error {
	border-left: 3px solid red;
	color: darkred;
	padding-left: 1em;
}
h3.info {
	border-left: 3px solid blue;
	padding-left: 1em;
}
.color-red {
	color: #b32d2e !important;
}
body.colors-dark .color-red {
	color: lightsalmon !important;
}

.agdp-metabox-row > label {
	min-width: 12em;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.agdp-metabox-row.agdp-metabox-subfields > label {
	min-width: 0;
}
.agdp-metabox-row > input, 
.agdp-metabox-row > textarea {
	width: 25em;
	display: inline-block;
}
.agdp-metabox-row > textarea#sql {
	width: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
}
.agdp-metabox-row.side-box > input, 
.agdp-metabox-row.side-box > textarea {
	width: 100%;/* 12em */
}
.agdp-metabox-row > input[type="number"] {
	width: 5em;	
}
.agdp-metabox-row > input[type="date"] {
	width: 10em;	
}
.agdp-metabox-row > input[placeholder="hh:mm"] {
	width: 5em;	
}
.agdp-metabox-row > input[type="submit"] {
	width: auto;
}
.agdp-metabox-row.is_not_admin.admin_only {
	display: none;
}

.agdp-metabox-row.agdp-metabox-subfields {
	display: inline;
	margin-left: 1em;
}
.agdp-metabox-row.agdp-metabox-subfields.hidden {
	display: none;
}

.agdp-metabox-row.description > label {
	margin-top: 2px;
}

.agdp-metabox-row #ev-codesecret {
	border: none;
	width: 10em;
	color: #333333;  
	background-color: transparent;
	margin-top: 6px;
}

/* as other inputs */
input[type="gps"] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
}

img.coo-favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.import-report {
	background-color: #f7f7f7;
	border-color: #9fa4a6;
	border-style: solid;
	padding: 1em;
}
.import-report > span {
	font-weight: bold;
}
.import-report li {
	margin-top: 1em;
}

#wpbody-content .revisions .hide-children > * {
	display: none;
}

#dashboard-widgets-wrap hr {
	border-top: 1px solid #b1b1d1;
	border-bottom: 1px solid #b3f6f6;
}

#dashboard-widgets-wrap .dashboard-agdpmaillogs table {
	width: 100%;
}
#dashboard-widgets-wrap .dashboard-agdpmaillogs table td {
	width: 30%;
}
#dashboard-widgets-wrap .dashboard-agdpmaillogs .entry-title {
	font-weight: bold;
}

#the-list .type-agdpevent.status-pending td.column-titre,
#the-list .type-agdpevent.status-pending td.column-date {
	color: #975d17;
}

#the-list .type-agdpevent.status-draft td.column-titre,
#the-list .type-agdpevent.status-draft td.column-date {
	color: darkred;
}

#the-list .type-agdpevent .is-imported-post {
	font-size: smaller;
}

#post #major-publishing-actions #duplicate-action,
#post #major-publishing-actions #export-action {
	text-align: right;
}
#post #major-publishing-actions #publishing-action {
	margin-top: 1em;
}

/*toggle shortcode*/
.toggle-trigger {
	cursor: pointer;
	margin: 0px !important;
}
.toggle-trigger:not(.dashicons-before) {
	background-color: #F5F5F5;
	background-image: url('../../public/images/toggle-plus.png');
	background-position: 10px center;
	background-repeat: no-repeat;
	display: inline-block;
	padding-left: 2em;
}
body.colors-dark .toggle-trigger {
	background-color: #252525;
}
/* label.toggle-trigger:not(.dashicons-before) {
	padding-left: 2em;
} */

.toggle-trigger a {
	color: #333;
	text-decoration: none;
	display: block;
}
body.colors-dark .toggle-trigger a {
	color: #CCC;
}
.toggle-trigger.dashicons-before a {
	display: inline-block;
}

.toggle-trigger a:hover {
	color: #0489B7;
	text-decoration: none;
}
body.colors-dark .toggle-trigger a:hover {
	color: #FA7628;
}
.toggle-trigger .wpcf7-spinner {
	float: right;
}

.toggle-trigger.active:not(.dashicons-before){
	background-image: url('../../public/images/toggle-minus.png') !important;
	background-repeat: no-repeat;
}

.toggle-container {
	/* display: none; TODO hide on load before jQuery */
	display: none;
	overflow: hidden;
	padding: 10px 10px;
}
.toggle-trigger.active + .toggle-container {
	display: block;
}

.ajax_action-response .close-box {
	float: right;
}
.ajax_action_info {
	text-align: center;
}
div.ajax_action-response {
	border-style: solid;
	border-color:orange;
	padding: 5px;
}

/**
 * diagram
 */
.agdp-diagram .toggle-trigger > .dashicons-before,
.agdp-diagram .toggle-container > :not(.toggle-trigger,.toggle-container) {
	margin-left: 2.5em;
}
.agdp-diagram .toggle-trigger {
	padding-top: 3px;
	font-size: inherit;
}
.agdp-diagram .toggle-container {
	padding: 2px 0px 3px 15px;
}
.agdp-diagram .dashicons-before {
	color: #27748f;
}
.agdp-diagram .dashicons-before.dashicons-warning {
	color: #cd5555;
}
.agdp-diagram .dashicons-before.alert {
	color: #be692b;
}

.agdp-diagram .show-mouse-over {
	color: #afd2de;
}
.agdp-diagram :hover > a > .show-mouse-over  {
	color: inherit;
}
table.agdp-diagram  {
	border-collapse:collapse;
	margin-bottom: 2em;
}
table.agdp-diagram td  {
	border-bottom: 1px solid;
	max-width: 33%;
}
table.agdp-diagram a  {
	text-decoration: none;
	color: inherit;
}
/* table.agdp-diagram a .dashicons-before { */
	/* color: #2271b1; */
/* } */

/**
 * comment
 */
table.form-table.editcomment ul.attachments img {
	max-width: 200px;
}

table.forum-subscribers td, table.forum-subscribers th {
	padding-left: 1em;
	padding-right: 1em;
}
div.edit-post-layout__metaboxes {
	margin-left:auto;
	margin-right:auto
}
.block-editor .postbox {
	border-top: 1px solid lightsteelblue;
	background-color: beige;
}

#wpadminbar #wp-admin-bar-agdpevents .ab-icon::before {
  content: "\f508";
  top: 3px;
}

#wpadminbar #wp-admin-bar-covoiturages .ab-icon::before {
  content: "\f16b";
  top: 3px;
}

.agdp-metabox-row code {
	padding-left:0px;
}
.agdp-metabox-row .sql-helper-variables label {
	min-width: 8em;
	display: inline-block;
}

.agdp-import-posts.confirmation {
	margin-bottom: 3em;
}
.agdp-import-posts .confirm_action_posts {
	margin-top: 1em;
	margin-bottom: 1em;
}
.agdp-import-posts .confirm_action_posts > div + div {
	margin-left: 1em;
}

#the-list .column-sql {
  overflow: hidden;
}
#the-list .column-sql code {
	white-space: pre;
	padding: 0px;
}
/*
 *******/
 
 
