/**
 * ED20200326
 * Feuille de styles pour CoopEShop mode Admin
 */

h3.alert {
	border-left: 3px solid orange;
	color: darkorange;
	padding-left: 1em;
}
h3.error {
	border-left: 3px solid red;
	color: darkred;
	padding-left: 1em;
}
h3.info {
	border-left: 3px solid blue;
	padding-left: 1em;
}

.agdp-metabox-row > label {
	min-width: 12em;
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
}
.agdp-metabox-row > input, 
.agdp-metabox-row > textarea {
	width: 25em;
	display: inline-block;
}
.agdp-metabox-row.side-box > input, 
.agdp-metabox-row.side-box > textarea {
	width: 12em;
}
.agdp-metabox-row > input[type="number"] {
	width: 5em;	
}
.agdp-metabox-row > input[type="date"] {
	width: 10em;	
}
.agdp-metabox-row > input[placeholder="hh:mm"] {
	width: 5em;	
}
.agdp-metabox-row.is_not_admin.admin_only {
	display: none;
}

.agdp-metabox-row.agdp-metabox-subfields {
	display: inline;
	margin-left: 1em;
}

.agdp-metabox-row.description > label {
	margin-top: 2px;
}

.agdp-metabox-row #ev-codesecret {
	border: none;
	width: 10em;
	color: #333333;  
	background-color: transparent;
	margin-top: 6px;
}

/* as other inputs */
input[type="gps"] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
}

img.coo-favicon {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.import-report {
	background-color: #f7f7f7;
	border-color: #9fa4a6;
	border-style: solid;
	padding: 1em;
}
.import-report > span {
	font-weight: bold;
}
.import-report li {
	margin-top: 1em;
}

#wpbody-content .revisions .hide-children > * {
	display: none;
}

#dashboard-widgets-wrap hr {
	border-top: 1px solid #b1b1d1;
	border-bottom: 1px solid #b3f6f6;
}

#dashboard-widgets-wrap .dashboard-agdpmaillogs table {
	width: 100%;
}
#dashboard-widgets-wrap .dashboard-agdpmaillogs table td {
	width: 30%;
}
#dashboard-widgets-wrap .dashboard-agdpmaillogs .entry-title {
	font-weight: bold;
}

#the-list .type-agdpevent.status-pending td.column-titre,
#the-list .type-agdpevent.status-pending td.column-date {
	color: #975d17;
}

#the-list .type-agdpevent.status-draft td.column-titre,
#the-list .type-agdpevent.status-draft td.column-date {
	color: darkred;
}



/*toggle shortcode*/
.toggle-trigger {
	cursor: pointer;
	margin: 0px !important;
}
.toggle-trigger:not(.dashicons-before) {
	background-color: #F5F5F5;
	background-image: url('../../public/images/toggle-plus.png');
	background-position: 10px center;
	background-repeat: no-repeat;
}
body.colors-dark .toggle-trigger {
	background-color: #252525;
}

.toggle-trigger a {
	color: #333;
	text-decoration: none;
	display: block;
}
body.colors-dark .toggle-trigger a {
	color: #CCC;
}
.toggle-trigger.dashicons-before a {
	display: inline-block;
}

.toggle-trigger a:hover {
	color: #0489B7;
	text-decoration: none;
}
body.colors-dark .toggle-trigger a:hover {
	color: #FA7628;
}
.toggle-trigger .wpcf7-spinner {
	float: right;
}

.toggle-trigger.active{
	background-image: url('../../public/images/toggle-minus.png') !important;
	background-repeat: no-repeat;
}

.toggle-container {
	/* display: none; TODO hide on load before jQuery */
	display: none;
	overflow: hidden;
	padding: 10px 10px;
}
.toggle-trigger.active + .toggle-container {
	display: block;
}
/*
 *******/
 
 

/*
 * Tabs
 */
#agdp-tabs-nav {
	border-bottom: 1px solid #aaa;
	padding: 9px 15px 0 10px;
	margin: 0;
}

#agdp-tabs-nav li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ccc;
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0 4px -1px;
	background-color: #e4e4e4;
}

#agdp-tabs-nav li:hover {
	background-color: #fff;
}

#agdp-tabs-nav li.ui-tabs-active,
#agdp-tabs-nav li.ui-tabs-active:hover {
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-bottom: 1px solid #f5f5f5;
	background-color: #f5f5f5;
}

#agdp-tabs-nav li a {
	padding: 6px 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
	color: #333;
	text-decoration: none;
}

#agdp-tabs-nav li.ui-tabs-active a {
	color: #000;
	font-size: 14px;
	font-weight: bold;
}

#agdp-tabs-nav li a:hover {
	color: #000;
}

#agdp-tabs .agdp-panel > div.config-error {
	margin-bottom: 1.4em;
}

#agdp-tabs-nav li.ui-tabs-active a .icon-in-circle {
	display: none;
}

#agdp-tabs .agdp-panel h2 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin: 8px 0;
	padding: 0;
}

#agdp-tabs .agdp-panel {
	background-color: #f5f5f5;
	border: 1px solid #aaa;
	border-top: none;
	padding: 16px;
}

#agdp-tabs .form-table th {
	width: 100px;
}

#agdp-tabs .agdp-panel fieldset legend {
	line-height: 1.5;
	margin: .6em 0 .4em;
}